<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

  <connectionStrings>
    <add name="con" connectionString="Data Source=LAPTOP-10P5RUJP;Initial Catalog=Medicalstoremanagement;Integrated Security=True" />
    <add name="MedicalstoremanagementConnectionString" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedicalstoremanagementConnectionString2" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedicalstoremanagementConnectionString3" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedicalstoremanagementConnectionString4" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedicalstoremanagementConnectionString5" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedicalstoremanagementConnectionString6" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedicalstoremanagementConnectionString7" connectionString="Data Source=.;Initial Catalog=Medicalstoremanagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
