<%@ Master Language="C#" AutoEventWireup="true" CodeFile="usermaster.master.cs" Inherits="User_usermaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .style1
        {
            width: 1200px;
            border: 1px solid #FF0000;
        }
        .style2
        {
            width: 1200px;
        }
        .style3
        {
            text-decoration: underline;
            text-align: center;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
    
    <table align="center" cellpadding="0" cellspacing="0" class="style1">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" class="style2">
                    <tr>
                        <td height="150" width="150">
                            <asp:Image ID="Image1" runat="server" Height="150px" ImageUrl="~/Images/31.jpg" 
                                Width="150px" />
                        </td>
                        <td height="150" style="background-color: #FF6600; color: #3399FF;" width="900">
                            <h1 style="text-align: center; background-color: #0066FF; color: #FFFFFF;">
                                Pharmacy System</h1>
                        </td>
                        <td height="150" width="150">
                            <asp:Image ID="Image2" runat="server" Height="150px" ImageUrl="~/Images/10.jpg" 
                                Width="150px" />
                        </td>
                    </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" class="style2">
                    <tr>
                        <td height="30" width="1200" style="background-color: #00CC99">
                            <marquee>Welcome Pharmacy System
</marquee>
                        </td>
                    </tr>
                    <tr>
                        <td height="30" width="1200">
                            <asp:Menu ID="Menu1" runat="server" BackColor="#FFFBD6" 
                                DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="0.8em" 
                                ForeColor="#990000" Orientation="Horizontal" StaticSubMenuIndent="10px" 
                                style="font-size: medium; font-weight: 700">
                                <DynamicHoverStyle BackColor="#990000" ForeColor="White" />
                                <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                <DynamicMenuStyle BackColor="#FFFBD6" />
                                <DynamicSelectedStyle BackColor="#FFCC66" />
                                <Items>
                                    <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/User/Userhome.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="User Login" Value="User Login" 
                                        NavigateUrl="~/User/Userlogin.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Register" Value="Register" 
                                        NavigateUrl="~/User/Register.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Order Tablet / Syrep" Value="Order Tablet / Syrep" 
                                        NavigateUrl="~/User/ordertablet.aspx">
                                    </asp:MenuItem>
                                    <asp:MenuItem Text="View Oredr Tablet/Syrep" Value="View Oredr Tablet/Syrep" 
                                        NavigateUrl="~/User/viewordertable.aspx">
                                    </asp:MenuItem>
                                    <asp:MenuItem Text="Payment" Value="Payment" NavigateUrl="~/User/payment.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Aboutus" Value="Aboutus" NavigateUrl="~/User/aboutus.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Contactus" Value="Contactus" 
                                        NavigateUrl="~/User/contactus.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Feedback" Value="Feedback" 
                                        NavigateUrl="~/User/feedback.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Download " Value="Download " 
                                        NavigateUrl="~/Downloads/Inamulhaq “ Medical Shop Management System”.docx"></asp:MenuItem>
                                    <asp:MenuItem Text="Logout" Value="Logout" NavigateUrl="~/User/Userlogin.aspx"></asp:MenuItem>
                                </Items>
                                <StaticHoverStyle BackColor="#990000" ForeColor="White" />
                                <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                <StaticSelectedStyle BackColor="#FFCC66" />
                            </asp:Menu>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" class="style2">
                    <tr>
                        <td height="500" width="600">
                            <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>&nbsp;</td>
                        <td height="500" width="600">
                            <asp:Image ID="Image3" runat="server" Height="500px" 
                                ImageUrl="~/Images/pharmace.gif" Width="600px" />
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" class="style2">
                    <tr>
                        <td height="200" width="300">
                            <asp:Image ID="Image4" runat="server" Height="200px" ImageUrl="~/Images/23.jpg" 
                                Width="300px" />
                        </td>
                        <td height="200" style="background-color: #66CCFF" width="300">
                            &nbsp;</td>
                        <td height="200" width="300">
                            <asp:Image ID="Image5" runat="server" Height="200px" ImageUrl="~/Images/7.jpg" 
                                Width="300px" />
                        </td>
                        <td height="200" style="background-color: #FF00FF" width="300">
                            &nbsp;</td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" class="style2">
                    <tr>
                        <td class="style3" height="30" width="1200">
                            copyrights@2024</td>
                    </tr>
                    <tr>
                        <td height="30" style="background-color: #009933" width="1200">
                           <marquee style="color: #FF0000"> Welcome to Shree Web Pharmacy Online Automation System
</marquee>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </td>
        </tr>
    </table>
    
    </form>
</body>
</html>
